

    .crystal-image1 {
      width: 200px;
      height: 150px;
      float: left;
    }


    .crystal-image2 {
      width: 200px;
      height: 150px;
      float: left;
    }


    .crystal-image3 {
      width: 200px;
      height: 150px;
      float: left;
    }


    .crystal-image4 {
      width: 200px;
      height: 150px;
      float: left;
    }


    .main {
    	width: auto;
    	height: auto;
    	align-content: left;
    	border-style: solid;
    	text-align: center;
    }

    .crystalarea {
    	border: 1px solid #dddddd;
    	width: auto;
    	background-color: EAE9D9;
    }

.blank {
	width-auto;
	height: 20px;
	clear: both;
}

	h3 {
		font-size: 16px;
	}

	div {
		margin-left: 30px;
	}